:root {
    --bg-color: rgb(226, 223, 204);
    --card-bg: #DBDCD6;
    --accent-orange: #FF8A00;
    --text-dark: #1A1A1A;
    --text-gray: #5C5C5C;
    --success-green: #4CAF50;
}

 body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


#login-screen {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: opacity 0.3s ease-out;
            z-index: 10;
            background-color: var(--bg-color);
            position: absolute;
            width: 100%;
            top: 0;
}

.pass-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.dots-container {
    display: flex;
     gap: 15px;
     margin-bottom: 40px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.2s;
}
.dot.active {
    background-color: var(--text-dark);
    border-color: var(--text-dark);
}

.numpad {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.num-btn {
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    user-select: none;
}
.num-btn:active { 
    background-color: #333; 
    color: white; }

.bottom-text { 
    margin-top: 40px; 
    color: var(--text-gray); 
    font-size: 14px; }

/* second_card */
header {
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end; 
}

.bell-btn {
    background: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    gap: 5px;
}

main {
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center   ;
}

.id-card {
    background-color: var(--card-bg);
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.05);
    flex: 1; 
    max-height: 520px; 
    padding: 12px;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0,0,0,0.03);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
}
.card-img {
    width: 35px;
    filter: invert(85%); 

}

.user-data {
    margin-top: auto; /* Прижимает блок к низу (до полоски) */
    
}

.user-role {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
    font-weight: 500;
}

.user-name {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.1;
}

        

.status-bar {
    background-color: #6D5E43;
    color: white;
    font-size: 12px;
    padding: 4px 0;
    margin: 0 -20px; 
    overflow: hidden;      
    position: relative;
}


.marquee-track {
    display: flex;         
    width: max-content;    
    animation: scroll-infinite 10s linear infinite; 
}


.marquee-item {
    flex-shrink: 0;        
    padding-right: 20px;   
}


@keyframes scroll-infinite {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}       
.fab-btn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 35px;
    height: 35px;
    background-color: var(--accent-orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(255, 138, 0, 0.4);
    cursor: pointer;
}

        /* --- НИЖНЕЕ МЕНЮ --- */
nav {
    background: white;
    padding: 12px 30px 25px 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    font-weight: 600;
    color: var(--text-dark);
}

.nav-icon {
    width: 24px;
    height: 24px;
    background: #eee;
    border-radius: 4px;
}

/*flip  */
.card-scene {
    width: 100%;
    height: 520px; 
    perspective: 1000px; 
    margin-bottom: 20px;
    cursor: pointer;
}

.card-object {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s; 
    transform-style: preserve-3d; 
}


.card-scene.is-flipped .card-object {
    transform: rotateY(180deg);
}


.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border-radius: 24px; 
    background-color: #DBDCD6; 
    box-sizing: border-box; 
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-front {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.card-back {
    transform: rotateY(180deg); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #eee;
    gap: 20px
}

/*plus */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 998; 
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}


.overlay.active {
    opacity: 1;
    visibility: visible;
}


.bottom-sheet {
    position: fixed;
    left: 0;
    bottom: -100%; 
    width: 100%;
    background: #ffffff;
    z-index: 999; 
    border-radius: 24px;
    padding: 20px 20px 40px 20px; 
    box-sizing: border-box;
    box-shadow: 0 -5px 20px rgba(0,0,0,0.1);
    transition: bottom 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    max-height: 85vh;
    overflow-y: auto;
}


.bottom-sheet.active {
    bottom: 0;
}


.sheet-handle {
    width: 40px;
    height: 4px;
    background-color: #E0E0E0;
    border-radius: 2px;
    margin: 0 auto 20px auto; 
}


.menu-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
    cursor: pointer;
}

.menu-item:active {
    background-color: #f9f9f9; 
}

.menu-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item span {
    font-size: 17px;
    font-weight: 500;
    color: #1A1A1A;
}


.close-btn {
    width: 100%;
    padding: 16px;
    background-color: #F5F5F5;
    color: #1A1A1A;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    cursor: pointer;
}

.vac-scr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    
}
.vac-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-card {
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03);
}

/* Строка с данными (слева название, справа значение) */
.info-row {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    justify-content: space-between;
    
}
.info-row-iner {
     flex-direction: column;
    align-items: flex-start;
}


/* Блочная строка (название сверху, значение снизу) */
.info-row-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 12px;
}

/* Серый текст (заголовок поля) */
.info-label {
    color: #666;
    font-size: 14px;
}

/* Черный текст (значение) */
.info-value {
    color: #000;
    font-weight: 500;
    font-size: 15px;
    text-align: right;
}

/* Для блочных строк выравнивание текста слева */
.info-row-block .info-value {
    text-align: left;
}

.status-bar-iner {
    margin-bottom: 20px;
}
